<div class="container">
    <form>
        <div class="form-group">
            <h1 class="text-center">{{ title }}</h1>
            <div class="input-group">
                <input type="text" name="todo" id="todo" class="form-control" placeholder="Add To Do" [(ngModel)]="task" />
                <button class="btn" id="add" (click)="addTask(task)">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <div class="data">
            <ul class="list-group">
                <li class="list-group-item" #li *ngFor="let todo of tasks">
                    <span> {{ todo }} </span>

                    <div class="list-group-items-actions">
                        <i (click)="editTask(todo)" id="edit" class="material-icons">edit</i>
                        <i (click)="deleteTask(todo)" id="clear" class="material-icons">clear</i>
                    </div>
                </li>
            </ul>
        </div>
    </form>

</div>
<div class="space"></div>
<!-- Footer -->
<footer class="text-center text-white" id="footer">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Text -->
        <section class="mb-5" id="text">
            <div class="row d-flex justify-content-center">
                <h2>To Do List App</h2>
                <div class="col-lg-8">
                    <p id="paragraph">
                        This is a TodoList-App developed in Angular with Bootstrap for the desing and others libraries like SweetAlert, FontAwesome and Material Icons.
                        <br /> It is a single page application, which consists of creating a list of things to do, which you can edit or delete according to your needs. These tasks will remain saved in your browser even after a page reload or until they
                        are manually deleted.
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->
        <div #social>
            <h5 style="text-align: center;">Siguiendo estos links puede visitar mis redes sociales!!</h5>
            <!-- Section: Social -->
            <section class="text-center mb-5" id="socialIcon">
                <a href="https://www.instagram.com/victordiaz15_/?hl=es-la" target="blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/Victor-Diaz15" target="blank">
                    <i class="fab fa-github"></i>
                </a>
            </section>
        </div>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <span class="text-white">Victor Julio Diaz Arias</span>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->